html, body  {
    width: 100%;
    height: 100%;

    margin: 0;

    font-family: 'Times New Roman', Times, serif;
}

header {
    padding: 10px 0;

    text-align: center;

    background-color: #F17747;
    color: #FFF;

    font-size: 2em;
}

main {
    padding: 10px;
    margin: auto;
}

#detail-view {
    background-color: #e6e6e6;

    padding: 10px;
    margin: 10px 0;
}

#show-recipe, #show-tags {
    font-family: sans-serif;
}

h2 {
    font-size: 2em;
}

#recipes {
    max-width: 100%;

    padding: 10px;
}

/* All styling for within each recipe */
.recipe {
    border: 1px solid #E6E6E6;

    padding: 5px 20px;
    margin: 10px 0;
}

.title-recipe {
    font-size: 2.5em;
    line-height: 50%;
}

.image-recipe {
    max-width: 100%;
}

.standard-button {
    display: block;
    width: 100%;

    padding: 10px 0;
    margin: 10px 0;

    border: 2px solid #F17747;

    background-color: #F17747;

    font-size: 1.3em;
    font-weight: bold;

    cursor: pointer;
}

.error {
    max-width: 100%;

    color: red;

    text-align: center;
    margin: auto;
}

.error-picture {
    max-width: 100%;
}

/* Class for favorited recipes, is added in JS */
.favorite-recipe {
    background-color: #fdfcb3;
}

/* @media for tablet screens */
@media (min-width: 720px) {
    #recipes {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .recipe {
        max-width: 40%;
    }

    #detail-view {
        margin: 0 25px;
    }
}

/* @media for laptop and desktop screens */
@media (min-width: 1020px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        max-width: 1000px;
        
        margin: auto;
    }
    
    #recipes {
        max-width: 75%;
    }

    #detail-view {
        min-width: 25%;
    }
}