html,
body {
    width: 100%;
    height: 100%;

    margin: 0;

    font-family: 'Times New Roman', Times, serif ;
}

header {
    padding: 20px 0;

    text-align: center;

    background-color: #F17747;
    color: #FFF;

    font-size: 2em;
}

main {
    display: flex;
    flex-flow: row nowrap;

    max-width: 1000px;
    margin: auto;
}

#detail-view {
    background-color: #e6e6e6;
    flex-grow: 1;
    height: 1000px;

    padding: 10px 20px;

    margin: 10px 0;
}

#recipe, #tags {
    font-family: sans-serif;
}

h2 {
    font-size: 2em;
}

#recipes {
    max-width: 700px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    margin-bottom: 5vh;
}

.recipe {
    border: 1px solid #E6E6E6;

    padding: 5px 20px;
    margin: 10px 0;
}

.favorite-recipe {
    background-color: #fdfcb3;
}

.title-recipe {
    font-size: 2.5em;
    line-height: 50%;
}

.image-recipe {
    width: 290px;
    height: 200px;
}

.standard-btn {
    display: block;
    width: 100%;

    padding: 10px 0;
    margin: 10px 0;

    border: 2px solid #F17747;

    background-color: #F17747;

    font-size: 1.3em;
    font-weight: bold;

    cursor: pointer;
}

/* @media for tablet screens */

@media (max-width: 720px) {
    main {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    #detail-view {
        height: fit-content;
        width: 80%;
    }

    #recipes {
        margin-bottom: 0;
    }
}

@media (max-width: 1023px) {
    main {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    #detail-view {
        height: fit-content;
        width: 80%;
    }
    #recipes {
        margin-bottom: 0;
    }
}